{%extends "layout.html"%}
{%block content%}
<h1>2015</h1>
<div class = "content-container">
  <a href = "{{url_for('static', filename='images/seasons/DSC_001-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_001-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_002-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_002-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_003-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_003-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_004-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_004-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_005-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_005-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_006-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_006-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_007-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_007-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_008-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_008-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_009-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_009-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_010-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_010-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_011-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_011-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_012-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_012-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_013-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_013-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_014-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_014-min.jpg')}}"/>
  </a>
  <a href = "{{url_for('static', filename='images/seasons/DSC_015-min.jpg')}}"/>
    <img class = "gallery" src = "{{url_for('static', filename='images/seasons/DSC_015-min.jpg')}}"/>
  </a>
</div>
{%endblock%}
